#contato-page {
    background-color: #00607A;
    color: #F3F4F4;
    display: flex;
    gap: 13rem;
    justify-content: center;
    align-items: center;
    padding: 10.2rem 0 9.1rem 0;
    height: max(130vh, 820px);
    @media (max-width:1200px) {
        height: 2000px;
    }
    @media (max-width:768px) {
        height: 1500px;
        gap: 7rem;
    }

    .form-content {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 7.9rem;
        @media (max-width:768px) {
            gap: 2.9rem;
        }
        .form {
            display: flex;
            flex-direction: column;
            gap: 5.4rem;
            @media (max-width:768px) {
                gap: 3.6rem;
            }
            form {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                @media (max-width:768px) {
                    gap: 1rem;
                }
                input {
                    padding: 2.2rem 2rem;
                    border-radius: 1rem;
                    border: none;
                }
                input:focus {
                    outline: none;
                    border: 2px solid #000000;
                }
                input::placeholder {
                    color: #414C4F;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    font-size: 1.8rem;
                }
                textarea {
                    padding: 2.2rem 2rem 0 2rem;
                    height: 25rem;
                    border-radius: 1rem;
                    border: none;
                    resize: none;
                }
                textarea:focus {
                    outline: none;
                    border: 2px solid #000000;
                }
                textarea::placeholder {
                    color: #414C4F;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    font-size: 1.8rem;
                }
            }
            button {
                margin: auto;
            }
        }
    }

    .form-info {
        padding-top: 6.085rem;
        display: flex;
        flex-direction: column;
        gap: 9rem;
        @media (max-width:768px) {
            gap: 6rem;
        }
        .info {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            h5 {
                text-align: center;
            }
        }
        .map {
            display: flex;
            flex-direction: column;
            gap: 4.6rem;
            h4 {
                @media (max-width:768px) {
                    display: none;
                }
            }
        }
    }
}

@media (max-width:1200px) {
    #contato-page {
        .form-content {
            margin: auto;
            width: 60%;
        }
        .form-info {
            margin: auto;
            width: 60%;
        }
        flex-direction: column;
    }
}

@media (max-width:584px) {
    #contato-page {
        .form-content {
            margin: auto;
            width: 350px;
        }
        .form-info {
            margin: auto;
            width: 350px;
        }
        flex-direction: column;
    }
}