@import"../../styles/variables.scss";

#main-header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    background-color: #F3F4F4;

    #main-header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 90%;
        max-width: 1280px;

        padding: 1.6rem 0;
    }

    #logo-area{
        display: flex;
        align-items: center;
        
        gap: 2.5rem;

        font-size: 1.8rem;

        img {
            width: 14.4rem;
            @media(max-width: 600px){
                width: 9.4rem;
            }
        }

        p {
            font-family: 'Roboto Slab', serif;
            font-size: 700;
            font-size: 1.8rem;
            
        }
        

    }

    #search-bar-area{
        display: flex;
        align-items: center;
        border: 1px solid #000;

        background-color: #fff;

        border-radius: 1.5rem;

        padding: 1.0rem;

        @media(max-width:920px){
            display: none;
        }

        

        input {
            background-color: transparent;
            border: none;
            &::placeholder{
                color: #414C4F;
            }

        }
    }

    #resp-search-btn{
        width: 28px;
    }

    #ham-btn {
            
        .ham-btn-bar {
            width: 32px;
            height: 5px;
            background-color: $primary-blue;
            margin: 6px 0;
            transition: 0.4s;
        }
     }

    .active {
            .ham-btn-bar:nth-child(1) {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }
        
        .ham-btn-bar:nth-child(2) {opacity: 0;}
        
        .ham-btn-bar:nth-child(3) {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
        }
    
    }


    #resp-btns {
        display: none;

        @media(max-width:920px){
            display: flex;
            align-items: center;
            gap: 2.0rem;
        }
        
    }

        
}
