#coursesection {
    background-color: #F3F4F4;
    div {
        color: #F3F4F4;
        margin: auto;
        width: min(100%, 1920px);
        padding: 4rem 0 4rem 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .content {
            margin: 0 10rem;
            align-self: flex-end;
            padding: 0;
            width: min(90%, 395px);
            button {
                margin: 0;
            }
        }
    }
    .yellow {
        background: linear-gradient(
            to left,
            rgb(0, 96, 122, 0.8),
            rgb(0, 194, 59, 0.3)
        ),url("../../assets/banner1.png");
        h2 {
            color: #FFBD24;
        }
        button {
            background-color: #00607A;
            color: #FFBD24;
        }
        button:hover {
            background-color: #FFBD24;
            color: #00607A;
        }
    }
    .green {
        background: linear-gradient(
            to right,
            rgb(26, 29, 30, 0.8),
            rgb(196, 196, 196, 0.3)
        ),url("../../assets/banner2.png");
        h2 {
            color: #039E32;
        }
        button {
            background-color: #1A1D1E;
            color: #039E32;
        }
        button:hover {
            background-color: #039E32;
            color: #1A1D1E;
        }
        .content {
            align-self: flex-start;
        }
    }
    #yellow2 {
        background: linear-gradient(
            to left,
            rgb(0, 96, 122, 0.8),
            rgb(0, 194, 59, 0.3)
        ),url("../../assets/banner3.png");
    }
}

@media (max-width:768px) {
    #coursesection {
        div {
            padding: 2rem 0 2rem 0;
            .content {
                text-align: center;
                width: 93.33%;
                padding: 0;
                margin: auto;
                align-items: center;
            }
        }
    }
}

@media (max-width: 375px) {

    #coursesection {
        div {
            padding: 1rem 0;
        }

        .yellow {
            background: linear-gradient(
                to left,
                rgb(0, 96, 122, 0.8),
                rgb(0, 194, 59, 0.3)
            ),url("../../assets/banner1-mobile.png");
        }
        .green {
            background: linear-gradient(
                to right,
                rgb(26, 29, 30, 1),
                rgb(196, 196, 196, 0.5)
            ),url("../../assets/banner2-mobile.png");
        }
        #yellow2 {
            background: linear-gradient(
                to left,
                rgb(0, 96, 122, 0.8),
                rgb(0, 194, 59, 0.3)
            ),url("../../assets/banner3-mobile.png");
        }
    }
}